@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Set Font Utama */
    --font-sans: 'Inter', 'Roboto', sans-serif;

    /* Definisi Warna Discord Theme */
    --color-discord-dark: #36393f;
    --color-discord-darker: #2f3136;
    --color-discord-darkest: #202225;
    --color-discord-blurple: #5865F2;
    --color-discord-text: #dcddde;
    --color-discord-muted: #72767d;
    --color-discord-green: #3ba55d;

    /* Animasi Custom */
    --animate-scroll: scroll 30s linear infinite;
    --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }
}